body {
  background-color: blue;
  background-image: url("ZvgCkhpleBo.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

h1 {
  color: red;
  font-size: 2em;
  text-align: center;
}

p {
  color: yellow;
  font-size: 3em;
}
